<h2>Your accounts and in-progress accounts</h2>
<ul>
  <% @companies.each do |company| %>
<li> <b><%= link_to company.name, company_path(company) %></b> -
  <%= link_to "Edit", edit_company_path(company)%>
</li>
  <%end%>

</ul>


<%= link_to "Add Company", new_company_path %> <br>
<%= link_to "Add a lead/contact", new_lead_path %>
