<h2>Your accounts and in-progress accounts</h2>

<% @companies.each do |c| %>
<b><%= link_to c.name, companies_path(@company) %></b> - <p>Edit Company</p>
<br>

<%end%>

<%= link_to "Add Company", new_company_path %>
<%= link_to "Add a lead/contact", new_lead_path %>
